<div style="background-color: rgb(160, 163, 165);">
  <div style="text-align: center;">
    <nav style="font-family: 'Times New Roman', Times, serif, sans-serif; font-size: 125%;">
    UNIVERSIDAD TECNICA DE MACHALA <br> FACULTAD DE INGENIERIA CIVIL <br> CARRERA DE TECNOLOGIAS DE LA INFORMACION <br> BIOGRAFIA 
    </nav>  
    <img src="https://cdn.discordapp.com/attachments/1064723597538623579/1117649584626343997/image.png"height="200px"textContent="center" style="margin-top: 2%;">
    <nav>
      <br>
    </nav>
  </div>
  <div style="height: 35px; font-family: 'Times New Roman', Times, serif; color: aliceblue; font-size: large; padding-left: 1%; width: auto; background-color: darkcyan;">
    Informacion General
  </div>
  <div style="font-family: 'Times New Roman', Times, serif; font-size: large; padding-left: 1%; text-align: justify;">
    Blade Steven Masache Carrera, edad 20 años, cursando la carrera de 
    Tecnologias de la informacion en la Universidad Tecnica de Machala,
    vive en Machala-El Oro-Ecuador, es hijo de Marlon Masache y Dolly 
    Carrera, su familia esta conformada por 3 hijos, siendo Blade el 
    mayor, tiene dos hermanas las cuales son Melany y Valery, mantiene 
    una relacion con Judith Castillo y tiene 4 mascotas, dos perros 
    pitbull, uno macho llamado Bat y una hembra llamada Sol, ademas de 
    2 tortugas las cuales no tienen nombre. Vive en el Barrio La Aurora.
  </div>
  <div style="height: 35px; font-family: 'Times New Roman', Times, serif; text-align: justify; color: aliceblue; font-size: large; padding-left: 1%; width: auto; background-color: darkcyan;">
    Niñez
  </div>
  <div style="font-family: 'Times New Roman', Times, serif; text-align: justify; padding-left: 1%; font-size: large;">
    Blade nacio en Machala, en un clinica un 30 de septiembre de 2002, 
    fue hijo unico durante 2 años hasta que en 2004 nacio su primera 
    hermana, la cual se ha convertido en una de las personas mas 
    importantes en su vida, vivia en el barrio 12 de Febrero en una casa 
    de arriendo muy pequeña, fue al Jardin Galo Plaza Lasso y al terminar 
    ahi sus estudios, paso a la escuela Galo Plaza Lasso, la cual quedaba 
    muy cerca de su casa, era un excelente estudiante recibiendo diplomas 
    por su desempeño academico cada año lectivo, desde pequeño se fue 
    inculcando un gusto por la tecnologia, ya que su papa le compro el 
    Play Station 1, el cual seria el primer detonante de esa pasion, 
    ademas de que su tio estaba cursando en ese momento Ingenieria en 
    Sistemas, el cual le enseño a usar una computadora desde muy pequeño,
    los fines de semana pasaba en la casa de sus abuelos ya que eran 
    dias de reunion familiar, momento en donde convivia con sus primos,
    siendo Sebastian su compañero ya que compartian el mismo gusto por 
    la computacion, vivia de una manera simple, no muy especial entre 
    los demas niños, aunque no mantenia una relacion demasiado buena 
    que los demas niños, ya que era victima de bullying, debido a esto
    sus padres decidieron meterlo a que aprenda defensa personal, por 
    lo cual fue a la academia municipal de Tae Kwon Do, en el cual 
    aprendio a defenderse, pero mucho mas importante, aprendio 
    disciplina y no ser un abusivo.
  </div>
  <div style="height: 35px; font-family: 'Times New Roman', Times, serif; text-align: justify;color: aliceblue; font-size: large; padding-left: 1%; width: auto; background-color: darkcyan;">
    Adolescencia
  </div>
  <div style="font-family: 'Times New Roman', Times, serif; text-align: justify; padding-left: 1%; font-size: large;">
    Una vez acabo la escuela Blade se cambio de viviendal, pasando de vivir 
    en el barrio 12 de Febrero al barrio La Aurora, ingreso al Colegio de
    Bachillerato "El Oro", en donde conocio a sus mejores amistades, las
    cuales mantiene hasta el dia de hoy, era un alumno destacado hasta 
    que tuvo unos problemas familiares los cuales lo hicieron bajar su 
    rendimiento considerablemente, nacio la menor de todas sus hermanas
    Valery, ademas en este colegio siguio Electronica de Consumo el
    cual le dio unas bases en esta materia que le siguen ayudando 
    hasta el dia de hoy, en esta parte de su vida tambien nacio en el una
    pasion por el basketball la cual fue gracias a sus amigos los cuales
    lo llevaron a entrenar este deporte, siguio adentrandose mas en el
    participando en varios campeonatos de clubes y formando parte de 
    varios equipos, pudo graduarse como un estudiante normal, 
    nada espcial entre los demas pero muy buena persona.
  </div>
  <div style="height: 35px; font-family: 'Times New Roman', Times, serif; text-align: justify; color: aliceblue; font-size: large; padding-left: 1%; width: auto; background-color: darkcyan;">
    Actualidad
  </div>
  <div style="font-family: 'Times New Roman', Times, serif; text-align: justify; padding-left: 1%; font-size: large;">
    Paso la pandemia en donde perdio a su abuela materna, un ser muy 
    querido para el, ingreso a la carrera de Tecnologias de Informacion 
    en la universidad, en la cual va cursando el quinto semestre, 
    formando una relacion bastante buena con sus compañeros de clase, 
    aunque su familia ultimamente este pasando por momentos dificiles 
    economicamente, junto con el apoyo de todos sus conocidos sigue 
    esforzandose para alcanzar una de sus mas grandes metas que es 
    graduarse como un profesional para sacar adelante a su familia. 
  </div>
  <div style="height: 35px; font-family: 'Times New Roman', Times, serif; text-align: justify; color: aliceblue; font-size: large; padding-left: 1%; width: auto; background-color: darkcyan;">
    Detalles
  </div>
  <div style="font-family: 'Times New Roman', Times, serif; text-align: justify; padding-left: 1%; font-size: large;">
    Le gusta el Basketball <br>
    Le gusta el Ingles <br>
    Pasa sus tiempos libres en la computadora, realizando varias actividades. <br>
    Le gusta casi todo tipo de musica <br>
    Casi no usa redes sociales <br>
    Es una persona muy callada y tranquila estando sola, pero muy divertida cuando esta acompañada 
  </div>
</div>